

.w3-card-4.head{
	font-size: 20px;
    background-color: #9C27B0;
    color: white;
    font-family: 'Indie Flower', serif;
    padding:2px 0px 5px 10px;
    font-size: xx-large;
    
}

.w3-card-2.container{
	margin:auto;
	max-width:80%;
    background-color: #f1f1f1;
    margin-bottom:10%;
    margin-top:7%;
}

.title{
	margin-top: 2%;
    padding: 2px 0px 20px 10px;
}

.w3-btn.w3-ripple.edit{
	background-color:#7C4DFF;
}

.w3-btn.w3-ripple.delete{
	background-color:#7C4DFF;
}

